

div.view-port {
   border: 1px dotted lightgray !important;
}

div.vr-col {
   height: 90vh;
   padding: 0;
   margin: auto;
   text-align: center;
   border-radius: 1vh;
}

div.vp-lft-col {
   width: 31%;
   float: left;
}

div.xora-cam {
   width: 99.6%;
   height: calc(46vh - 4px);
   border: 2px solid rgb(94, 97, 109);
   border-radius: 1vh;
}

div.xora-console {
   width: 99.6%;
   height: calc(42vh - 4px);
   margin-top: 1.4vh;
   border: 2px solid rgb(94, 97, 109);
   border-radius: 1vh;  
}

div.vp-rgt-col {
   width: 68%;
   float: right;
}

div.js3-vr-box {
   width: calc(100% - 4px);
   height: calc(89.4vh - 4px);
   padding: 0;
   margin: auto;
   text-align: center;
   border: 2px solid rgb(94, 97, 109);
   border-radius: 1vh;
}
