
div.view-port {
   overflow-y: 0 !important;
}

div.top-menu div:nth-child(2) {
   font-weight: bold;
}

div.thermal-sensor{
   display: inline-block;
   width: 46%;
   height: auto;
   margin: 4vh auto;
   border: 1px dotted gray;
}

canvas.sensor-grid {
   width: 480px;
   height: 480px;
   border: 2px solid darkblue;
}
