
div.top-bar {
   width: 98vw;
   height: 8vh;
   line-height: 8vh;
   text-indent: 1vw;
   margin: 0.5vh auto;
   border: 1px solid gray;
   border-radius: 1vh;
}

div.top-bar div {
   display: inline-block;
}

div.top-menu {
   display: inline-block;
   margin: 0 2vw;
}

div.top-menu a {
   text-decoration: none;
}

div.xora-ai-lbl {
   font-size: 4vh;
}

div.home {
   float: right;
   margin-right: 4vw;
}
