
html, body {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}


/* div.top-bar {
   width: 98vw;
   height: 8vh;
   line-height: 8vh;
   text-indent: 1vw;
   margin: 0.5vh auto;
   border: 1px solid gray;
   border-radius: 1vh;
}

div.top-bar div {
   display: inline-block;
} */

div.view-port {
   width: 98vw;
   height: 90vh;
   padding: 0;
   margin: auto;
   text-align: center;
   border: 1px solid gray;
   border-radius: 1vh;
}

div.view-box {
   display: inline-block;
   width: 48vw;
   height: 88vh;
   margin: 0.4% auto;
   vertical-align: top;
   border: 1px solid gray;
   border-radius: 1vh;
}


/* ====================================================
   - - - [ top menu ] - - - 
*/
/* div.top-menu {
   display: inline-block;
   margin: 0 2vw;
} */

div.xora-ai-lbl {
   font-size: 4vh;
}

div.home {
   float: right;
   margin-right: 4vw;
}

/* ====================================================
   - - - [ cam box ] - - - 
*/
div.cam-view-head {
   height: 4vh;
   line-height: 4vh;
   text-align: left;
   font-size: 2.8vh;
   text-indent: 1vw;
   border-bottom: 1px solid gray;
}

div.cam-view-head div {
   display: inline-block;
}

div.cam-view-body {
   height: calc(84vh - 4px);
   border: 2px dotted darkblue;
   border-radius: 1vh;
}

div.view-box-btns {
   font-size: 1.8vh;
   border: 1px solid blueviolet;
}


/* ====================================================
   - - - [ live view ] - - - 
*/
div.thum-box {
   display: inline-block;
   margin: 1vh;
   border: 4px solid dimgray;
   border-radius: 8px;
}

div.top-bar-lbl {
   font-size: 3.8vh;
   font-weight: bold;
}

div#lastTickDts {
   font-size: 2.4vh;
   color: darkblue;
}

div.fn-lbl {
   height: 3.2vh;
   line-height: 3.2vh;
   font-size: 1.8vh;
   border-top: 2px solid dimgray;
}

.flex {
   overflow-y: scroll;
}
